.jumbotron.text-center
	%h1 Lostmy.name Survey Manager
	%p You can use this tool to import CSV files with user survey data and create widgets that can be shared.

.container
	.row
		.col-md-4.col-md-offset-4
			.panel.panel-default
				.panel-heading Import a CSV File
				.panel-body
					= form_tag import_users_path, multipart: true do
						= file_field_tag :file
						%p
						= submit_tag 'Import', class: 'btn btn-sm btn-primary'