.jumbotron.text-center
  %h1 Lostmy.name Survey Manager
  %p You can use this tool to import CSV files with user survey data and create widgets that can be shared.
  = link_to 'Import New Survey', import_users_path, class: 'btn btn-primary btn-lg'
  = link_to 'List All Imported Users', users_path, class: 'btn btn-primary btn-lg'

